# =========================
# NEVER COMMIT DATA
# =========================
data/db/**
data/ppp/**
data/acs_cache/**
data/raw/**
**/*.duckdb
**/*.csv

# Logs
*.log
logs/**

# Python cache
__pycache__/
*.pyc

# Streamlit secrets
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db
